.favouriteMovieContainer{
    display:flex;
    flex-direction:column;
    /* border:2px red solid; */
    width:30%;
    /* margin: 1%; */
    flex-wrap:wrap;
    object-fit:contain;
    /* margin-bottom: 10px; */

    
}

.title{
    font-size:1.5em;
    background-color:lightgrey;
}

