.favouritesContainer{
    display:flex;
    flex-direction:row;
    width:100vw;
}
h1{
    width:100%;
}
.moodSection {
   
    width:33.3%;
    border: 2px solid black;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.moodSectionMovies{
    display:flex;
    flex-direction:row;
    height:50vh;
    width:100%;
    align-items:center;
}