.movieContainer{
    display:flex;
    /* border: 3px red solid; */
    width:18%;
    margin:1%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}

.movieClickableContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

.moodContainer{
    display:flex;
    width:100%;
    flex-direction:row;
    /* background-color:lightgrey; */
    justify-content:space-around;
}

#moodButton{
    display:flex;
    width:33%;
    justify-content:center;
}

img {
    /* width:100%; */
    /* height: 200px;
    width: 133px; */
    height:1000px;
}

h2{
    text-align:center;
    font-size: 1.5em;
    /* background-color:lightgrey; */
}

img{
    max-width: 200px;
}