.top{
    display:flex;
    flex-direction:row;
}

.left{
    display:flex;
    width:50%;
    margin-right:5px;
}

.right{
    display:flex;
    flex-direction:column;
}

img{
    width:200px;
    height:300px;
}